*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2A5D5A;
}

h1{
    background-color:#311313;
    width: 636px;
    margin: 22px auto;
    color: white;
    text-align: center;
    padding: 22px 24px;
    font-size: 64px;
    font-weight: 700;
}

.main{
    width: 1000px;
    border: 10px solid #FF0606;
    background-color: black;
    margin: 33px auto;
    padding: 45px 52px;
}

.text{
    background-color: #1FE8B7;
    padding: 54px 40px;
    font-size: 24px;
    font-weight: 700;
}